<div class="modal-container">
    <div appClickOutside [appClickOutsideEnabled]="true" (clickOutside)="onClickOutside()" class="clickable-box">
        <p>Click outside this box to trigger the event.</p>
    </div>
    <button (click)="openModal()" class="open-modal-btn">Open Modal</button>

    @if (isModalOpen) {
    <div class="custom-backdrop" (click)="closeModal()"></div>
    }

    <dialog #dialogRef appClickOutside [appClickOutsideEnabled]="isModalOpen" (clickOutside)="closeModal()"
        [open]="isModalOpen" class="modal">
        <div class="modal-content">
            <div>😀</div>
            <p>Modal Content</p>
            <button (click)="closeModal()" class="close-modal-btn">Close</button>
        </div>
    </dialog>
</div>