.app-container {
  display: flex;
  height: 100vh;
  background-color: #202020;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;

  .container {
    width: 250px;
    background-color: #202020;
    border-right: 1px solid #5c5c5c;
    padding: 1.5rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);

    h1 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      color: #d98ce2;
    }

    h2 {
      font-size: 1.1rem;
      color: #cb81ff;
      margin-bottom: 1rem;
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      a {
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        color: #b1b1b1;
        background-color: #3d3d3d;
        transition: all 0.3s ease;

        &:hover {
          background-color: #8d3bae;
          color: #e8e8e8;
          box-shadow: 0px 0px 13px 1px rgb(187 73 177 / 71%);
          transform: translateY(-2px);
          cursor: pointer;
          font-weight: 500;
        }

        &.active {
          background-color: #8d3bae;
          color: #e8e8e8;
        }
      }
    }
  }

  .content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    background-color: #1f1f1f;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      color: #d98ce2;
    }

    h2 {
      font-size: 1.1rem;
      color: #cb81ff;
      margin-bottom: 1rem;
    }
  }
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1100;
  background-color: #8d3bae;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #a94ecf;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .app-container {
    flex-direction: column;

    .container {
      position: fixed;
      top: 3.5rem;
      left: 0;
      width: -webkit-fill-available;
      z-index: 1000;
      background-color: #202020;
      border-bottom: 1px solid #5c5c5c;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      padding: 1rem;
    }

    .content {
      padding-top: 3rem; // Enough to show content below drawer
    }

    .links {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;
    }
  }
}
