.container {
  display: flex;
  flex-direction: column;

  .box {
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
      height: auto;
      width: 100%;
    }
  }
}
