<div class="container">
    <div class="box">
        <h1>Scroll Down 👇</h1>
    </div>
    <div class="imgs-container">
        <img appLazyLoad="https://ichef.bbci.co.uk/news/1024/cpsprodpb/14235/production/_100058428_mediaitem100058424.jpg.webp"
            [loaderUrl]="'assets/loader.gif'" alt="Lazy loaded image" loading="lazy">
        <img appLazyLoad="https://imgv3.fotor.com/images/slider-image/A-clear-image-of-a-woman-wearing-red-sharpened-by-Fotors-image-sharpener.jpg"
            [loaderUrl]="'assets/loader.gif'" alt="Lazy loaded image" loading="lazy">
    </div>

</div>